body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
    box-sizing: border-box;
    color: hsl(218, 44%, 22%);
    
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    width: 75%;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 15px 15px 30px hsl(220, 15%, 55%);

}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

img {
    border-radius: 10px;
    width: 100%;
}

.text {
    width: 95%;
    padding: 2px;
}

h2 {
    font-weight: 700;
}


